:root {
  --font-sans: "inter", sans-serif;
  --color-sheme: dark;
  --color-base-black: #000;
  --color-base-white: #fff;
  --color-primary-100: #f4ebff;
  --color-primary-600: #155eef;
  --color-primary-700: #004eeb;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;
  --shadow-xs: 0px 1px 2px rgb(16 24 40 / 5%);
  --font-display-md-semibold: 600 36px/44px var(--font-sans);
  --font-logo: 800 30px/38px var(--font-sans);
  --font-big: 600 24px/32px var(--font-sans);
  --font-text-lg-regular: 400 18px/28px var(--font-sans);
  --font-main: 400 16px/24px var(--font-sans);
  --font-main-big: 600 16px/24px var(--font-sans);
  --font-small: 500 14px/20px var(--font-sans);
  --font-tiny: 400 14px/20px var(--font-sans);
}

:root.dark {
  --color-base-black: #fff;
  --color-base-white: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-black: #fff;
    --color-base-white: #000;
  }
}

@media (min-width: 768px) {
  :root {
    --font-big: 600 30px/38px var(--font-sans);
  }
}
