:root {
  --font-sans: "inter", sans-serif;
  --color-sheme: dark;
  --color-base-black: #000;
  --color-base-white: #fff;
  --color-primary-100: #f4ebff;
  --color-primary-600: #155eef;
  --color-primary-700: #004eeb;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;
  --shadow-xs: 0px 1px 2px rgb(16 24 40 / 5%);
  --font-big: 24px;
  --font-main: 16px;
}

:root.dark {
  --color-base-black: #fff;
  --color-base-white: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-black: #fff;
    --color-base-white: #000;
  }
}
