.label {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 6px;
}

.span {
  color: var(--color-gray-700);
  font: var(--font-small);
}
