.name {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .name {
    display: block;
    color: var(--color-base-black);
    font: var(--font-logo);
  }
}
